apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: techtalk
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: docker.io/nginxinc/nginx-unprivileged:1.29.0

