apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: techtalk
data:
  default.conf: |
    server {
      listen       8080;
      server_name  localhost;

      location / {
        root   /usr/share/nginx/html;
        index  index.html;
        add_header Cache-Control "no-store" always;
      }
    }
  index.html.template: |
    <!DOCTYPE html>
    <html>
      <head>
        <title>TechTalk NGINX</title>
        <style>
          body {
            font-family: Arial, sans-serif;
            background-color: #f5f7fa;
            text-align: center;
            padding-top: 50px;
          }
          h1 {
            color: #2c3e50;
          }
        </style>
      </head>
      <body>
        <h1>FIE TechTalk</h1>
        <table border="0" align=center>
        <tr align=left>
        <td>Served by pod:</td><td><strong>${POD_NAME}</strong></td>
        </tr>
        <tr align=left>
        <td>Pod is running on Node:</td><td><strong>${NODE_NAME}</strong></td>
        </tr>
        <tr align=left>
        <td>Namespace Name:</td><td><strong>${POD_NAMESPACE}</strong></td>
        </tr>
        </table>
      </body>
    </html>
