apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: techtalk
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: quay.apps.ocp-mgt.zrh.local/admin/nginx:1.29.1
          ports:
            - containerPort: 8080
              #          readinessProbe:
              #            httpGet:
              #              path: /
              #              port: 8080
              #            initialDelaySeconds: 3
              #            periodSeconds: 2
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          command:
            - /bin/sh
            - -c
            - |
              envsubst < /config/index.html.template > /usr/share/nginx/html/index.html
              exec nginx -g "daemon off;"
          volumeMounts:
            - name: config
              mountPath: /config
            - name: webroot
              mountPath: /usr/share/nginx/html
            - name: nginx-config
              mountPath: /etc/nginx/conf.d
          securityContext:
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
      volumes:
        - name: config
          configMap:
            name: nginx-config
        - name: webroot
          emptyDir: {}
        - name: nginx-config
          configMap:
            name: nginx-config

